<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">
  <meta name="author" content="Intro to Web">

  <!-- THIS IS A LINK TO THE EXTERNAL .CSS -->
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">

</head>


<body>

<div class="outer">
    <div class="topnav">
      Top Navigation
    </div>
    <div class="page">
    <div class="container">



        <!-- another row -->
        <div class="row">
            <div class="col-7">
              <div class="hero_content">
                 <img src="img/dewy-makeup.jpg" alt="Dewy Makeup"/>
                 <p class="hero_text_headline">
                 How To Get That Dewy Makeup Look
                 </p>
                 <p>
                 All the tips and tricks to get your skin looking fresh and dewy
                 </p>
              </div>
            </div>
            <div class="col-5">
                <!--SIDE BAR -->
                <div class="side_bar">
                  <img src="img/glow.jpg" />
                  <span class="section">MAKEUP</span></br>
                  Perfect your summer bronzing technique with these steps
                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                <img src="img/adele.jpg" />
                <span class="section">MAKEUP</span></br>
                How to recreate Adele's eyeliner look
              </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                <img src="img/aapi-beauty.jpg" />
                <span class="section">MAKEUP</span></br>
                How to highlight your best features
              </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                  <img src="img/summer.jpg" />
                  <span class="section">MAKEUP</span></br>
                  Perfecting the sunkissed look with minimal makeup
                </div>
                <!--SIDE BAR END -->
            </div>
        </div>
        <!-- another row -->
                <div class="row">
                    <div class="col-12">
                      EMPTY SPACE
                    </div>
                </div>

                <!-- another row -->
                        <div class="row">
                            <div class="col-12">
                              EMPTY SPACE
                            </div>
                        </div>




  <!-- another row -->
        <div class="row">
               <div class="col-12"  style="height:100%;">
              <div class="article_component">
                <img src="img/vanity.jpg" alt "Vanity"/>
                <p class="article_content">
                  How to organize your makeup like a Pro
                </p>
              </div>

              <div class="article_component">
                <img src="img/shiny-hair.jpg" alt "Shiny Hair"/>
                <p class="article_content">
                  The best hair products for shiny summer hair
                </p>
              </div>

              <div class="article_component">
                <img src="img/new-beauty-product.jpg" alt "New Beauty Product"/>
                <p class="article_content">
                  The newest, hottest beauty products to hit the shelves
                </p>
              </div>


        </div>



    </div>
  </div>
</div>


</body>

</html>
