body{
  font-family: sans-serif;
  color:black;

}




.outer{
  text-align: center;
  background-color: #f5eaea;

}

.page{

  max-width: 1200px;
  background-color: white;
  width: 100%;
  height:100%;
  display: inline-block;
  text-align: left;
  height: 98vh
}

.topnav{
  	position: sticky;
  	position: -webkit-sticky; /*Safari*/
    background-color: black;
  	top:0;
  	width:100%;
  	z-index:100;
  	flex-grow: 1;
  	display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content:flex-start;
  }

  .logo{
    max-width: 350px;
    text-align: center;
  }
  .logo_img{
    margin-top: 10px;
    width:50%;
}

.layout{
	width:100%;
	height: 100px;
	background-color: #f5eaea;

}


/* HERO IMAGE */
.hero_content{
	font-size:32px;
	text-align: center;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 37px;
}

.hero_content img{
	width:100%;
}



/* SIDEBAR COMPONENT */

.side_bar{
  height:100%;
  overflow: auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;

}


.side_bar .section{
   color: black;
   text-transform: uppercase;
   font-weight: bold;
}

.side_bar img{
	float: right;
  transform: scale(1);
  transition: all 300ms;
}

.side_bar img:hover {
     transform: scale(2);
}

/* ARTICLE COMPONENT */

.article_component{
   position:relative;
   display:inline-block;
   width:300px;
   height:300px;
   background-color: white;
   color:black;
   margin-left: 39px;
   margin-right: 39px;
  }

.article_content{
    font-size:20px;
    text-align: center;
  }


/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;

}

div [class^="side_bar"]:last-of-type {
    margin: 0px;

}
