body{
  font-family: sans-serif;
  color:black;

}




.outer{
  text-align: center;
}

.page{

  max-width: 1200px;
  background-color: #f5eaea;
  width: 100%;
  height:100%;
  display: inline-block;
  text-align: left;
  height: 98vh;
}

.topnav{
  background-color: black;
  height:100px;
  text-align: left;
  color: white;

}

.layout{
	width:100%;
	height: 100px;
	background-color: #f5eaea;

}


/* HERO IMAGE */
.hero_content{
	font-size:32px;
	text-align: center;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 37px;
}

.hero_content img{
	width:100%;
}



/* SIDEBAR COMPONENT */

.side_bar{
  height:100%;
  overflow: auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;

}


.side_bar .section{
   color: black;
   text-transform: uppercase;
   font-weight: bold;
}

.side_bar img{
	float: right;
}

/* ARTICLE COMPONENT */

.article_component{
   position:relative;
   display:inline-block;
   width:300px;
   height:300px;
   background-color:#f5eaea;
   color:black;
   margin-left: 40px;
   margin-right: 40px;
  }

.article_content{
    font-size:20px;
    text-align: left;
  }


/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;

}

div [class^="side_bar"]:last-of-type {
    margin: 0px;

}
